@import '../../node_modules/mapbox-gl/dist/mapbox-gl.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

[x-ref="map"] {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

[x-cloak] {
    display: none !important;
}
